[submodule "library/iNZight"]
	path = library/iNZight
	url = git@github.com:iNZightVIT/iNZight.git
	branch = master
[submodule "library/iNZightTools"]
	path = library/iNZightTools
	url = git@github.com:iNZightVIT/iNZightTools.git
	branch = master
[submodule "library/iNZightRegression"]
	path = library/iNZightRegression
	url = git@github.com:iNZightVIT/iNZightRegression.git
	branch = master
[submodule "library/iNZightPlots"]
	path = library/iNZightPlots
	url = git@github.com:iNZightVIT/iNZightPlots.git
	branch = master
[submodule "library/iNZightTS"]
	path = library/iNZightTS
	url = git@github.com:iNZightVIT/iNZightTS.git
[submodule "library/iNZightMR"]
	path = library/iNZightMR
	url = git@github.com:iNZightVIT/iNZightMR.git
[submodule "library/iNZightModules"]
	path = library/iNZightModules
	url = git@github.com:iNZightVIT/iNZightModules.git
[submodule "library/iNZightMaps"]
	path = library/iNZightMaps
	url = git@github.com:iNZightVIT/iNZightMaps.git
[submodule "library/iNZightUpdate"]
	path = library/iNZightUpdate
	url = git@github.com:iNZightVIT/iNZightUpdate.git
[submodule "library/iNZightMultivariate"]
	path = library/iNZightMultivariate
	url = git@github.com:iNZightVIT/iNZightMultivariate.git
[submodule "library/vit"]
	path = library/vit
	url = git@github.com:iNZightVIT/vit.git
[submodule "library/FutureLearnData"]
	path = library/FutureLearnData
	url = git@github.com:iNZightVIT/FutureLearnData.git
[submodule "installers/win-installer"]
	path = installers/win-installer
	url = git@github.com:iNZightVIT/win-installer.git
